<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Trend Recorder</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>

    <section class="text-blueGray-700 ">
        <div class="container flex flex-col items-center px-5 py-4 mx-auto">
            <div class="flex flex-col w-full text-left lg:text-center">
                <h1
                    class="mx-auto text-center text-3xl font-bold leading-none tracking-tighter text-blue-600 lg:w-1/2 sm:text-6xl title-font">
                    <a href="/news">
                        Github-Trend-Recorder
                    </a>
                </h1>
                <h1
                    class="mx-auto mt-2 text-center text-center text-2xl font-semibold leading-none tracking-tighter text-green-600 lg:w-1/2 sm:text-6xl title-font">
                    <a href="">
                        Meghani M. Mehboob
                    </a>
                </h1>
            </div>
        </div>
    </section>


    <div class="flex items-center px-4">
        <button type="button"
            class="w-full border text-base font-medium rounded-l-md text-black bg-white hover:bg-gray-100 px-4 py-2">
            Left
        </button>
        <button type="button"
            class="w-full border text-base font-medium rounded-r-md text-black bg-white hover:bg-gray-100 px-4 py-2"
            onclick="change()">
            Right
        </button>
    </div>


    <div class="bg-white grid lg:grid-cols-4 gap-4 m-4">
        {% for clang in clangs %}
        <a href="/news?reqlang={{ clang }}"
            class="py-2 px-4 bg-gradient-to-r from-green-400 to-blue-500 text-white text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2">
            <button type="button">
                {{ clang }}
            </button>
        </a>
        {% endfor %}
    </div>

    <div class="bg-white grid lg:grid-cols-3 gap-6 m-6">
        <a href=""
            class="py-2 px-4 bg-gradient-to-r from-red-600 to-yellow-300 text-white text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2">
            <button type="button">
                Top 3
            </button>
        </a>

        <a href=""
            class="py-2 px-4 bg-gradient-to-r from-red-600 to-yellow-300 text-white text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2">
            <button type="button">
                Top 5
            </button>
        </a>

        <a href=""
            class="py-2 px-4 bg-gradient-to-r from-red-600 to-yellow-300 text-white text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2">
            <button type="button">
                Top 10
            </button>
        </a>
    </div>

    <!-- <div>
        <div class="container mx-auto px-4 sm:px-8 max-w-3/5">
            <div class="py-8">
                <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                    <div class="inline-block w-full shadow rounded-lg overflow-hidden">
                        <table class="w-full table-auto">
                            <thead>
                                <tr>
                                    <th scope="col"
                                        class="w-2/6 px-5 py-3 bg-white border-b border-gray-200 text-gray-800 text-left text-sm uppercase font-normal">
                                        Title</th>
                                    <th scope="col"
                                        class="px-5 py-3 bg-white border-b border-gray-200 text-gray-800 text-left text-sm uppercase font-normal">
                                        Star #</th>
                                    <th scope="col"
                                        class="px-5 py-3 bg-white border-b border-gray-200 text-gray-800 text-left text-sm uppercase font-normal">
                                        Forked #</th>
                                    <th scope="col"
                                        class="px-5 py-3 bg-white border-b border-gray-200 text-gray-800 text-left text-sm uppercase font-normal">
                                        Code Language</th>
                                    <th scope="col"
                                        class="px-5 py-3 bg-white border-b border-gray-200 text-gray-800 text-left text-sm uppercase font-normal">
                                        Spoken Language</th>
                                        link</th>
                                    <th scope="col"
                                        class="w-1/6 px-5 py-3 bg-white border-b border-gray-200 text-gray-800 text-left text-sm uppercase font-normal">
                                        Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in datas %}
                                <tr>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            <div class="ml-3">
                                                <p class="text-gray-900 whitespace-no-wrap text-justify">
                                                    {{ data[3] }}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            <div class="ml-3">
                                                <p class="text-gray-900 whitespace-no-wrap">
                                                    {{ data[4] }}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            <div class="ml-3">
                                                <p class="text-gray-900 whitespace-no-wrap">
                                                    {{ data[5] }}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            <div class="ml-3">
                                                <p class="text-gray-900 whitespace-no-wrap">
                                                    {{ data[6] }}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            <div class="ml-3">
                                                <p class="text-gray-900 whitespace-no-wrap">
                                                    {{ data[7] }}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            <div class="ml-3">
                                                <a class="text-blue-600 font-bold whitespace-no-wrap"
                                                    href="{{ data[8] }}">
                                                    {{ data[8] }}
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <table>
        <thead>
            <tr>
                <th width="300px">TITLE</th>
                <th>STAR #</th>
                <th>FORKED #</th>
                <th>CODE LANGUAGE</th>
                <th>SPOKEN LANGUAGE</th>
                <th width="300px">LINK</th>
            </tr>
            <thead>
            <tbody>
                {% for data in datas %}
                <tr>
                    <td>{{ data[3] }})</td>
                    <td>{{ data[4] }}</td>
                    <td>{{ data[5] }}</td>
                    <td>{{ data[6] }}</td>
                    <td>{{ data[7] }}</td>
                    <td><a href="{{ data[8] }}">{{ data[8] }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
            <table />
            <br><br><br><br>

            <!-- <blockquote> Responsive Table </blockquote> -->


            <footer class="bg-white border rounded-lg fixed inset-x-0 bottom-0 p-0">
                <div class="container px-2 py-2 mx-auto flex items-center sm:flex-row flex-col">
                    <p
                        class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
                        {{ footer[0] }}
                    </p>
                    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                        <a href="https://www.google.com">
                            API
                        </a>
                        <a href="{{ footer[1] }}" class="text-gray-500">
                            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5" viewBox="0 0 24 24">
                                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                            </svg>
                        </a>
                        <a href="{{ footer[2] }}" class="ml-3 text-gray-500">
                            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5" viewBox="0 0 24 24">
                                <path
                                    d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                                </path>
                            </svg>
                        </a>
                        <a href="{{ footer[3] }}" class="ml-3 text-gray-500">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                            </svg>
                        </a>
                        <a href="{{ footer[4] }}" class="ml-3 text-gray-500">
                            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                                <path stroke="none"
                                    d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                                </path>
                                <circle cx="4" cy="4" r="2" stroke="none"></circle>
                            </svg>
                        </a>
                        <a href="{{ footer[5] }}" class="ml-3 text-gray-500">
                            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                                <path stroke="none"
                                    d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-4.466 19.59c-.405.078-.534-.171-.534-.384v-2.195c0-.747-.262-1.233-.55-1.481 1.782-.198 3.654-.875 3.654-3.947 0-.874-.312-1.588-.823-2.147.082-.202.356-1.016-.079-2.117 0 0-.671-.215-2.198.82-.64-.18-1.324-.267-2.004-.271-.68.003-1.364.091-2.003.269-1.528-1.035-2.2-.82-2.2-.82-.434 1.102-.16 1.915-.077 2.118-.512.56-.824 1.273-.824 2.147 0 3.064 1.867 3.751 3.645 3.954-.229.2-.436.552-.508 1.07-.457.204-1.614.557-2.328-.666 0 0-.423-.768-1.227-.825 0 0-.78-.01-.055.487 0 0 .525.246.889 1.17 0 0 .463 1.428 2.688.944v1.489c0 .211-.129.459-.528.385-3.18-1.057-5.472-4.056-5.472-7.59 0-4.419 3.582-8 8-8s8 3.581 8 8c0 3.533-2.289 6.531-5.466 7.59z">
                                </path>
                                <circle cx="4" cy="4" r="2" stroke="none"></circle>
                            </svg>
                        </a>
                    </span>
                </div>
            </footer>

            <script>
                function change() {
                    var elem = document.getElementById("myButton1");
                    elem.innerText = "";
                }
            </script>
</body>

</html>