<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Trend Recorder</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>

    <section class="text-blueGray-700 ">
        <div class="container flex flex-col items-center px-5 py-4 mx-auto">
            <div class="flex flex-col w-full text-left lg:text-center">
                <h1
                    class="mx-auto text-center text-3xl font-bold leading-none tracking-tighter text-blue-600 lg:w-1/2 sm:text-6xl title-font">
                    <a href="/news">
                        Github-Trend-Recorder
                    </a>
                </h1>
                <h1
                    class="mx-auto mt-2 text-center text-center text-2xl font-semibold leading-none tracking-tighter text-green-600 lg:w-1/2 sm:text-6xl title-font">
                    Meghani M. Mehboob
                </h1>
            </div>
        </div>
    </section>

    <div class="bg-white grid lg:grid-cols-4 gap-6 m-6">
        {% for clang in clangs %}
        <a href="/news?reqlang={{ clang }}"
            class="py-2 px-4 bg-gradient-to-r from-green-400 to-blue-500 text-white text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2">
            <button type="button">
                {{ clang }}
            </button>
        </a>
        {% endfor %}
    </div>

    <!-- <div>
        <div class="container mx-auto px-4 sm:px-8 max-w-3/5">
            <div class="py-8">
                <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                    <div class="inline-block w-full shadow rounded-lg overflow-hidden">
                        <table class="w-full table-auto">
                            <thead>
                                <tr>
                                    <th scope="col"
                                        class="w-2/6 px-5 py-3 bg-white border-b border-gray-200 text-gray-800 text-left text-sm uppercase font-normal">
                                        Title</th>
                                    <th scope="col"
                                        class="px-5 py-3 bg-white border-b border-gray-200 text-gray-800 text-left text-sm uppercase font-normal">
                                        Star #</th>
                                    <th scope="col"
                                        class="px-5 py-3 bg-white border-b border-gray-200 text-gray-800 text-left text-sm uppercase font-normal">
                                        Forked #</th>
                                    <th scope="col"
                                        class="px-5 py-3 bg-white border-b border-gray-200 text-gray-800 text-left text-sm uppercase font-normal">
                                        Code Language</th>
                                    <th scope="col"
                                        class="px-5 py-3 bg-white border-b border-gray-200 text-gray-800 text-left text-sm uppercase font-normal">
                                        Spoken Language</th>
                                        link</th>
                                    <th scope="col"
                                        class="w-1/6 px-5 py-3 bg-white border-b border-gray-200 text-gray-800 text-left text-sm uppercase font-normal">
                                        Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in datas %}
                                <tr>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            <div class="ml-3">
                                                <p class="text-gray-900 whitespace-no-wrap text-justify">
                                                    {{ data[3] }}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            <div class="ml-3">
                                                <p class="text-gray-900 whitespace-no-wrap">
                                                    {{ data[4] }}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            <div class="ml-3">
                                                <p class="text-gray-900 whitespace-no-wrap">
                                                    {{ data[5] }}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            <div class="ml-3">
                                                <p class="text-gray-900 whitespace-no-wrap">
                                                    {{ data[6] }}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            <div class="ml-3">
                                                <p class="text-gray-900 whitespace-no-wrap">
                                                    {{ data[7] }}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            <div class="ml-3">
                                                <a class="text-blue-600 font-bold whitespace-no-wrap"
                                                    href="{{ data[8] }}">
                                                    {{ data[8] }}
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <table>
        <thead>
          <tr>
            <th width="300px">TITLE</th>
            <th>STAR #</th>
            <th>FORKED #</th>
            <th>CODE LANGUAGE</th>
            <th>SPOKEN LANGUAGE</th>
            <th width="300px">LINK</th>
          </tr>
        <thead>
        <tbody>
            {% for data in datas %}
          <tr>
            <td>{{ data[3] }})</td>
            <td>{{ data[4] }}</td>
            <td>{{ data[5] }}</td>
            <td>{{ data[6] }}</td>
            <td>{{ data[7] }}</td>
            <td><a href="{{ data[8] }}">{{ data[8] }}</a></td>
          </tr>
            {% endfor %}
        </tbody>
      <table/>
        
      <blockquote> Responsive Table </blockquote>
</body>

</html>